In [10]:
import pandas as pd

In [37]:
df_srna = pd.read_csv('data/res/sRNA_DEG_mirbase.csv', sep='\t')
df_srna.head(2)

,#Locus,Name,Length,Reads,RPM,UniqueReads,FracTop,Strand,MajorRNA,MajorRNAReads,...,log2FoldChange,lfcSE,stat,pvalue,padj,X21dpiR1C.trimmed,X21dpiR3C.trimmed,X21dpiR1T.trimmed,X21dpiR3T.trimmed,miRBASE
0,1A:442456307-442457889,Cluster_1075,1583,265,2.080,154,0.060,-,AGCAGAGAUGAGUCAUGUCGUGGC,8,...,1.434176,0.383667,3.738074,0.000185,0.110157,33.495124,36.073536,84.662517,103.723414,NaN
1,1A:449518776-449519511,Cluster_1100,736,96,0.753,26,0.594,.,UUCUUUUUGGACUUGGGCAUC,7,...,3.863940,1.133793,3.407976,0.000654,0.302448,5.075019,1.060986,24.658986,65.509525,NaN

In [38]:
df_target = pd.read_csv('data/res/targets.clean.csv', sep='\t', header=None)
df_target.columns = ['target_srna','target_gene','target_from','target_to','target_strand','target_mismatches','target_srna_seq','target_aln','target_gene_seq']
df_target.head(2)

,target_srna,target_gene,target_from,target_to,target_strand,target_mismatches,target_srna_seq,target_aln,target_gene_seq
0,Cluster_1100,TraesCS5A02G148900 seq:5A start:326647810 end:...,3430,3449,+,3.0,CAUGCCCAAGUCCAAAA-GAA,:::::::::::::::: :::,CUACGGGUUCAGGUUUUUCUU
1,Cluster_2990,TraesCS1D02G164100 seq:1D start:234735857 end:...,5145,5165,+,4.0,AGCUUCUCUACAUCAUCCUCU,: ::::: ::::::::::::,UACAAGAGUUGUAGUAGGAGA

In [39]:
df_res = pd.merge(df_srna, df_target, left_on='Name', right_on='target_srna', how='left')
df_res.head()

,#Locus,Name,Length,Reads,RPM,UniqueReads,FracTop,Strand,MajorRNA,MajorRNAReads,...,miRBASE,target_srna,target_gene,target_from,target_to,target_strand,target_mismatches,target_srna_seq,target_aln,target_gene_seq
0,1A:442456307-442457889,Cluster_1075,1583,265,2.080,154,0.060,-,AGCAGAGAUGAGUCAUGUCGUGGC,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1A:449518776-449519511,Cluster_1100,736,96,0.753,26,0.594,.,UUCUUUUUGGACUUGGGCAUC,7,...,NaN,Cluster_1100,TraesCS5A02G148900 seq:5A start:326647810 end:...,3430.0,3449.0,+,3.0,CAUGCCCAAGUCCAAAA-GAA,:::::::::::::::: :::,CUACGGGUUCAGGUUUUUCUU
2,1B:670145201-670145464,Cluster_2990,264,458,3.595,11,0.293,.,AGAGGAUGAUGUUGAGAACAU,88,...,NaN,Cluster_2990,TraesCS1D02G164100 seq:1D start:234735857 end:...,5145.0,5165.0,+,4.0,AGCUUCUCUACAUCAUCCUCU,: ::::: ::::::::::::,UACAAGAGUUGUAGUAGGAGA
3,1B:683523189-683523474,Cluster_3046,286,275,2.158,1,0.553,.,UUUUGGACAGCAAGAAUAACU,64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1D:184223901-184223922,Cluster_3572,22,99,0.777,0,0.869,+,ACGACAAACUGAUGACAAACC,58,...,NaN,Cluster_3572,TraesCS4B02G364900 seq:4B start:653007147 end:...,6410.0,6429.0,+,4.0,GGGUUGUCAU-AGUUUGUUGU,:: ::::::: :::::::.::,CCAAACAGUAGUCAAACAGCA

In [40]:
df_res['target_gene'] = df_res['target_gene'].str.split(' ').str[0]
df_res.head()

,#Locus,Name,Length,Reads,RPM,UniqueReads,FracTop,Strand,MajorRNA,MajorRNAReads,...,miRBASE,target_srna,target_gene,target_from,target_to,target_strand,target_mismatches,target_srna_seq,target_aln,target_gene_seq
0,1A:442456307-442457889,Cluster_1075,1583,265,2.080,154,0.060,-,AGCAGAGAUGAGUCAUGUCGUGGC,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1A:449518776-449519511,Cluster_1100,736,96,0.753,26,0.594,.,UUCUUUUUGGACUUGGGCAUC,7,...,NaN,Cluster_1100,TraesCS5A02G148900,3430.0,3449.0,+,3.0,CAUGCCCAAGUCCAAAA-GAA,:::::::::::::::: :::,CUACGGGUUCAGGUUUUUCUU
2,1B:670145201-670145464,Cluster_2990,264,458,3.595,11,0.293,.,AGAGGAUGAUGUUGAGAACAU,88,...,NaN,Cluster_2990,TraesCS1D02G164100,5145.0,5165.0,+,4.0,AGCUUCUCUACAUCAUCCUCU,: ::::: ::::::::::::,UACAAGAGUUGUAGUAGGAGA
3,1B:683523189-683523474,Cluster_3046,286,275,2.158,1,0.553,.,UUUUGGACAGCAAGAAUAACU,64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1D:184223901-184223922,Cluster_3572,22,99,0.777,0,0.869,+,ACGACAAACUGAUGACAAACC,58,...,NaN,Cluster_3572,TraesCS4B02G364900,6410.0,6429.0,+,4.0,GGGUUGUCAU-AGUUUGUUGU,:: ::::::: :::::::.::,CCAAACAGUAGUCAAACAGCA

In [41]:
df_mart_traes = pd.read_csv('data/data/marts/mart_export_traes.txt', sep='\t')
df_mart_traes.head()

,Gene stable ID,GO term accession,GO term name,GO term definition,GO domain,Gene description
0,TraesCS4A02G403700,NaN,NaN,NaN,NaN,NaN
1,TraesCS3A02G154800,GO:0047617,acyl-CoA hydrolase activity,Catalysis of the reaction: acyl-CoA + H2O = Co...,molecular_function,NaN
2,TraesCS2B02G516800,GO:0004553,"hydrolase activity, hydrolyzing O-glycosyl com...",Catalysis of the hydrolysis of any O-glycosyl ...,molecular_function,NaN
3,TraesCS2B02G516800,GO:0005975,carbohydrate metabolic process,The chemical reactions and pathways involving ...,biological_process,NaN
4,TraesCS2B02G516800,GO:0016787,hydrolase activity,"Catalysis of the hydrolysis of various bonds, ...",molecular_function,NaN

In [42]:
df_mart_traes_at = pd.read_csv('data/data/marts/mart_export_traes_at.txt', sep='\t')
df_mart_traes_at.head()

,Gene stable ID,Arabidopsis thaliana gene stable ID,Arabidopsis thaliana gene name
0,TraesCS4A02G403700,NaN,NaN
1,TraesCS3A02G154800,NaN,NaN
2,TraesCS2B02G516800,AT3G13790,CWINV1
3,TraesCS2B02G516800,AT3G13784,CWINV5
4,TraesCS2B02G516800,AT1G55120,CWINV3

In [43]:
df_mart_at = pd.read_csv('data/data/marts/mart_export_at.txt', sep='\t')
df_mart_at.head()

,Gene stable ID,GO term accession,GO term name,GO term definition,GO domain,Gene description
0,AT3G11415,NaN,NaN,NaN,NaN,NaN
1,AT1G31258,NaN,NaN,NaN,NaN,other RNA [Source:TAIR;Acc:AT1G31258]
2,AT5G24735,NaN,NaN,NaN,NaN,other RNA [Source:TAIR;Acc:AT5G24735]
3,AT2G45780,NaN,NaN,NaN,NaN,other RNA [Source:TAIR;Acc:AT2G45780]
4,AT2G42425,NaN,NaN,NaN,NaN,Unknown gene [Source:TAIR;Acc:AT2G42425]

In [44]:
df_traes_link_at = pd.merge(df_mart_traes, df_mart_traes_at, on='Gene stable ID', how='left')
df_traes_link_at.head(4)

,Gene stable ID,GO term accession,GO term name,GO term definition,GO domain,Gene description,Arabidopsis thaliana gene stable ID,Arabidopsis thaliana gene name
0,TraesCS4A02G403700,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TraesCS3A02G154800,GO:0047617,acyl-CoA hydrolase activity,Catalysis of the reaction: acyl-CoA + H2O = Co...,molecular_function,NaN,NaN,NaN
2,TraesCS2B02G516800,GO:0004553,"hydrolase activity, hydrolyzing O-glycosyl com...",Catalysis of the hydrolysis of any O-glycosyl ...,molecular_function,NaN,AT3G13790,CWINV1
3,TraesCS2B02G516800,GO:0004553,"hydrolase activity, hydrolyzing O-glycosyl com...",Catalysis of the hydrolysis of any O-glycosyl ...,molecular_function,NaN,AT3G13784,CWINV5

In [45]:
df_traes_at = pd.merge(df_traes_link_at, df_mart_at, left_on='Arabidopsis thaliana gene stable ID', right_on='Gene stable ID', how='left')
df_traes_at.head()

,Gene stable ID_x,GO term accession_x,GO term name_x,GO term definition_x,GO domain_x,Gene description_x,Arabidopsis thaliana gene stable ID,Arabidopsis thaliana gene name,Gene stable ID_y,GO term accession_y,GO term name_y,GO term definition_y,GO domain_y,Gene description_y
0,TraesCS4A02G403700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TraesCS3A02G154800,GO:0047617,acyl-CoA hydrolase activity,Catalysis of the reaction: acyl-CoA + H2O = Co...,molecular_function,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TraesCS2B02G516800,GO:0004553,"hydrolase activity, hydrolyzing O-glycosyl com...",Catalysis of the hydrolysis of any O-glycosyl ...,molecular_function,NaN,AT3G13790,CWINV1,AT3G13790,GO:0016787,hydrolase activity,"Catalysis of the hydrolysis of various bonds, ...",molecular_function,"Beta-fructofuranosidase, insoluble isoenzyme C..."
3,TraesCS2B02G516800,GO:0004553,"hydrolase activity, hydrolyzing O-glycosyl com...",Catalysis of the hydrolysis of any O-glycosyl ...,molecular_function,NaN,AT3G13790,CWINV1,AT3G13790,GO:0005975,carbohydrate metabolic process,The chemical reactions and pathways involving ...,biological_process,"Beta-fructofuranosidase, insoluble isoenzyme C..."
4,TraesCS2B02G516800,GO:0004553,"hydrolase activity, hydrolyzing O-glycosyl com...",Catalysis of the hydrolysis of any O-glycosyl ...,molecular_function,NaN,AT3G13790,CWINV1,AT3G13790,GO:0016798,"hydrolase activity, acting on glycosyl bonds",Catalysis of the hydrolysis of any glycosyl bo...,molecular_function,"Beta-fructofuranosidase, insoluble isoenzyme C..."

In [46]:
df_res_mart = pd.merge(df_res, df_traes_at, left_on='target_gene', right_on='Gene stable ID_x', how='left')
df_res_mart.head()

,#Locus,Name,Length,Reads,RPM,UniqueReads,FracTop,Strand,MajorRNA,MajorRNAReads,...,GO domain_x,Gene description_x,Arabidopsis thaliana gene stable ID,Arabidopsis thaliana gene name,Gene stable ID_y,GO term accession_y,GO term name_y,GO term definition_y,GO domain_y,Gene description_y
0,1A:442456307-442457889,Cluster_1075,1583,265,2.080,154,0.060,-,AGCAGAGAUGAGUCAUGUCGUGGC,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1A:449518776-449519511,Cluster_1100,736,96,0.753,26,0.594,.,UUCUUUUUGGACUUGGGCAUC,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1B:670145201-670145464,Cluster_2990,264,458,3.595,11,0.293,.,AGAGGAUGAUGUUGAGAACAU,88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1B:683523189-683523474,Cluster_3046,286,275,2.158,1,0.553,.,UUUUGGACAGCAAGAAUAACU,64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1D:184223901-184223922,Cluster_3572,22,99,0.777,0,0.869,+,ACGACAAACUGAUGACAAACC,58,...,molecular_function,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df_res_mart.to_csv('data/res/srna_targets.csv', sep='\t', index=None)