In [13]:
import pandas as pd
import numpy as np

In [14]:
df_srna_res = pd.read_csv('data/res/iwgsc_10_12_18/Results.txt', sep='\t')
df_srna_res.head(2)

,#Locus,Name,Length,Reads,RPM,UniqueReads,FracTop,Strand,MajorRNA,MajorRNAReads,...,DicerCall,MIRNA,PhaseScore,Short,Long,20,21,22,23,24
0,1A:209-460,Cluster_1,252,115,0.903,64,1.0,+,CGCGGAUUGCUCGAGCUGCUCACGCGGCGAGAGCGGGUCG,25,...,N,N2,-1.0,27,73,1,1,5,3,5
1,1A:688-753,Cluster_2,66,83,0.651,0,1.0,+,UAGACCGACUUUGUGAAAUG,7,...,N,N2,-1.0,4,56,10,0,3,6,4

In [15]:
df_srna = pd.read_csv('data/res/sRNA_DEG_mirbase.csv', sep='\t')
df_srna.head(2)

                    Gene               MajorRNA  log2FoldChange miRBASE
0   AAAAACCUAGUUCACUCGCU   AAAAACCUAGUUCACUCGCU       -0.563387     NaN
1  AAAAAGACAAACCGGACGGUU  AAAAAGACAAACCGGACGGUU       -0.746554     NaN

In [16]:
df_srna = pd.merge(df_srna, df_srna_res[['Name','MIRNA']], left_on = 'Gene', right_on='Name', how='left')
df_srna.drop('Name', axis=1, inplace=True)
df_srna.head()

,Gene,MajorRNA,log2FoldChange,miRBASE,MIRNA
0,AAAAACCUAGUUCACUCGCU,AAAAACCUAGUUCACUCGCU,-0.563387,NaN,NaN
1,AAAAAGACAAACCGGACGGUU,AAAAAGACAAACCGGACGGUU,-0.746554,NaN,NaN
2,AAAAAGAUUUACUUAAACGCCU,AAAAAGAUUUACUUAAACGCCU,10.318502,NaN,NaN
3,AAAAAGCUCGUAGUUGGACC,AAAAAGCUCGUAGUUGGACC,-0.283424,NaN,NaN
4,AAAAAGCUCGUAGUUGGACCU,AAAAAGCUCGUAGUUGGACCU,0.239080,NaN,NaN

In [18]:
df_target = pd.read_csv('data/res/targets_dna.clean.csv', sep='\t', header=None)
df_target.columns = ['target_srna','target_gene','target_from','target_to','target_strand','target_mismatches','target_srna_seq','target_aln','target_gene_seq']
print(len(df_target.index))
df_target.head(2)

17636

,target_srna,target_gene,target_from,target_to,target_strand,target_mismatches,target_srna_seq,target_aln,target_gene_seq
0,AAAAACCUAGUUCACUCGCU,TraesCS1A02G343700 seq:1A start:532087135 end:...,4828,4847,+,4.0,GGCGGUGGAAUUAGGUUUUU,.:::. :::.:::::::::,UCGCUCACUUGAUCCAAAAA
1,AAAAACCUAGUUCACUCGCU,TraesCS3A02G142800 seq:3A start:123275990 end:...,934,953,+,4.0,AGAGAGAAAACUAGGUUUUU,:: ::: ::::::::::::,UCGCUCACUUGAUCCAAAAA

In [19]:
df_target_genes = pd.merge(df_srna, df_target, left_on='Gene', right_on='target_srna', how='left')
print(len(df_target_genes.index))
df_target_genes.head()

28067

,Gene,MajorRNA,log2FoldChange,miRBASE,MIRNA,target_srna,target_gene,target_from,target_to,target_strand,target_mismatches,target_srna_seq,target_aln,target_gene_seq
0,AAAAACCUAGUUCACUCGCU,AAAAACCUAGUUCACUCGCU,-0.563387,NaN,NaN,AAAAACCUAGUUCACUCGCU,TraesCS1A02G343700 seq:1A start:532087135 end:...,4828.0,4847.0,+,4.0,GGCGGUGGAAUUAGGUUUUU,.:::. :::.:::::::::,UCGCUCACUUGAUCCAAAAA
1,AAAAACCUAGUUCACUCGCU,AAAAACCUAGUUCACUCGCU,-0.563387,NaN,NaN,AAAAACCUAGUUCACUCGCU,TraesCS3A02G142800 seq:3A start:123275990 end:...,934.0,953.0,+,4.0,AGAGAGAAAACUAGGUUUUU,:: ::: ::::::::::::,UCGCUCACUUGAUCCAAAAA
2,AAAAAGACAAACCGGACGGUU,AAAAAGACAAACCGGACGGUU,-0.746554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAAAAGAUUUACUUAAACGCCU,AAAAAGAUUUACUUAAACGCCU,10.318502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAAAAGCUCGUAGUUGGACC,AAAAAGCUCGUAGUUGGACC,-0.283424,NaN,NaN,AAAAAGCUCGUAGUUGGACC,TraesCS6A02G326200 seq:6A start:559521404 end:...,734.0,753.0,+,4.0,GAUGUGCCUACGAGCUUUUU,: : .. :::::::::::::,CCAGGUUGAUGCUCGAAAAA

In [20]:
df_target_genes['target_gene'] = df_target_genes['target_gene'].str.split(' ').str[0]
df_target_genes.head()

,Gene,MajorRNA,log2FoldChange,miRBASE,MIRNA,target_srna,target_gene,target_from,target_to,target_strand,target_mismatches,target_srna_seq,target_aln,target_gene_seq
0,AAAAACCUAGUUCACUCGCU,AAAAACCUAGUUCACUCGCU,-0.563387,NaN,NaN,AAAAACCUAGUUCACUCGCU,TraesCS1A02G343700,4828.0,4847.0,+,4.0,GGCGGUGGAAUUAGGUUUUU,.:::. :::.:::::::::,UCGCUCACUUGAUCCAAAAA
1,AAAAACCUAGUUCACUCGCU,AAAAACCUAGUUCACUCGCU,-0.563387,NaN,NaN,AAAAACCUAGUUCACUCGCU,TraesCS3A02G142800,934.0,953.0,+,4.0,AGAGAGAAAACUAGGUUUUU,:: ::: ::::::::::::,UCGCUCACUUGAUCCAAAAA
2,AAAAAGACAAACCGGACGGUU,AAAAAGACAAACCGGACGGUU,-0.746554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAAAAGAUUUACUUAAACGCCU,AAAAAGAUUUACUUAAACGCCU,10.318502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAAAAGCUCGUAGUUGGACC,AAAAAGCUCGUAGUUGGACC,-0.283424,NaN,NaN,AAAAAGCUCGUAGUUGGACC,TraesCS6A02G326200,734.0,753.0,+,4.0,GAUGUGCCUACGAGCUUUUU,: : .. :::::::::::::,CCAGGUUGAUGCUCGAAAAA

In [21]:
df_mart_traes = pd.read_csv('data/data/marts/mart_export_traes.txt', sep='\t')
df_mart_traes = df_mart_traes[['Gene stable ID', 'GO term name', 'GO term definition', 'GO domain','Gene description']]
df_mart_traes.columns = ['gene','GO','GO_description','GO_domain','gene_description']
df_mart_traes.head()

,gene,GO,GO_description,GO_domain,gene_description
0,TraesCS4A02G403700,NaN,NaN,NaN,NaN
1,TraesCS3A02G154800,acyl-CoA hydrolase activity,Catalysis of the reaction: acyl-CoA + H2O = Co...,molecular_function,NaN
2,TraesCS2B02G516800,"hydrolase activity, hydrolyzing O-glycosyl com...",Catalysis of the hydrolysis of any O-glycosyl ...,molecular_function,NaN
3,TraesCS2B02G516800,carbohydrate metabolic process,The chemical reactions and pathways involving ...,biological_process,NaN
4,TraesCS2B02G516800,hydrolase activity,"Catalysis of the hydrolysis of various bonds, ...",molecular_function,NaN

In [22]:
df_mart_traes_at = pd.read_csv('data/data/marts/mart_export_traes_at.txt', sep='\t')
df_mart_traes_at.columns = ['gene','at_gene','at_gene_name']
df_mart_traes_at.head()

                 gene    at_gene at_gene_name
0  TraesCS4A02G403700        NaN          NaN
1  TraesCS3A02G154800        NaN          NaN
2  TraesCS2B02G516800  AT3G13790       CWINV1
3  TraesCS2B02G516800  AT3G13784       CWINV5
4  TraesCS2B02G516800  AT1G55120       CWINV3

In [23]:
df_mart_at = pd.read_csv('data/data/marts/mart_export_at.txt', sep='\t')
df_mart_at = df_mart_at[['Gene stable ID', 'GO term name', 'GO term definition', 'GO domain','Gene description']]
df_mart_at.columns = ['at_gene','at_GO','at_GO_definition','at_GO_domain', 'at_gene_description']
df_mart_at.head()

,at_gene,at_GO,at_GO_definition,at_GO_domain,at_gene_description
0,AT3G11415,NaN,NaN,NaN,NaN
1,AT1G31258,NaN,NaN,NaN,other RNA [Source:TAIR;Acc:AT1G31258]
2,AT5G24735,NaN,NaN,NaN,other RNA [Source:TAIR;Acc:AT5G24735]
3,AT2G45780,NaN,NaN,NaN,other RNA [Source:TAIR;Acc:AT2G45780]
4,AT2G42425,NaN,NaN,NaN,Unknown gene [Source:TAIR;Acc:AT2G42425]

In [24]:
df_res = pd.merge(df_mart_traes, df_mart_traes_at, left_on='gene', right_on='gene', how='left')
df_res = df_res.replace(np.nan, '', regex=True)

rules = {'GO':','.join,'GO_description':','.join, 'GO_domain':','.join, 'gene_description':','.join, 'at_gene':','.join, 'at_gene_name':','.join}
df_res = df_res.groupby('gene',as_index=False).agg(rules)
print(len(df_res.index))
df_res.head()

120744

,gene,GO,GO_description,GO_domain,gene_description,at_gene,at_gene_name
0,ENSRNA050007810,,,,tRNA-Met for anticodon CAU,,
1,ENSRNA050007817,,,,tRNA-Met for anticodon CAU,,
2,ENSRNA050007820,,,,tRNA-Thr for anticodon AGU,,
3,ENSRNA050007823,,,,tRNA-Gly for anticodon GCC,,
4,ENSRNA050007826,,,,tRNA-Asp for anticodon GUC,,

In [25]:
df_res_2 = pd.merge(df_res, df_mart_at, left_on='at_gene', right_on='at_gene', how='left')
df_res_2 = df_res_2.replace(np.nan, '', regex=True)

rules = {'GO':','.join,'GO_description':','.join, 'GO_domain':','.join, 'gene_description':','.join, 'at_gene':','.join, 'at_gene_name':','.join, 'at_GO':','.join,'at_GO_definition':','.join,'at_GO_domain':','.join,'at_gene_description':','.join}
df_res_2 = df_res_2.groupby('gene',as_index=False).agg(rules)
print(len(df_res_2.index))
df_res_2.head()

120744

,gene,GO,GO_description,GO_domain,gene_description,at_gene,at_gene_name,at_GO,at_GO_definition,at_GO_domain,at_gene_description
0,ENSRNA050007810,,,,tRNA-Met for anticodon CAU,,,,,,
1,ENSRNA050007817,,,,tRNA-Met for anticodon CAU,,,,,,
2,ENSRNA050007820,,,,tRNA-Thr for anticodon AGU,,,,,,
3,ENSRNA050007823,,,,tRNA-Gly for anticodon GCC,,,,,,
4,ENSRNA050007826,,,,tRNA-Asp for anticodon GUC,,,,,,

In [26]:
df_res_3 = pd.merge(df_target_genes, df_res_2, left_on='target_gene', right_on='gene', how='left')
df_res_3 = df_res_3.replace(np.nan, '', regex=True)
df_res_3.head(5)

,Gene,MajorRNA,log2FoldChange,miRBASE,MIRNA,target_srna,target_gene,target_from,target_to,target_strand,...,GO,GO_description,GO_domain,gene_description,at_gene,at_gene_name,at_GO,at_GO_definition,at_GO_domain,at_gene_description
0,AAAAACCUAGUUCACUCGCU,AAAAACCUAGUUCACUCGCU,-0.563387,,,AAAAACCUAGUUCACUCGCU,TraesCS1A02G343700,4828,4847,+,...,,,,,,,,,,
1,AAAAACCUAGUUCACUCGCU,AAAAACCUAGUUCACUCGCU,-0.563387,,,AAAAACCUAGUUCACUCGCU,TraesCS3A02G142800,934,953,+,...,,,,,,,,,,
2,AAAAAGACAAACCGGACGGUU,AAAAAGACAAACCGGACGGUU,-0.746554,,,,,,,,...,,,,,,,,,,
3,AAAAAGAUUUACUUAAACGCCU,AAAAAGAUUUACUUAAACGCCU,10.318502,,,,,,,,...,,,,,,,,,,
4,AAAAAGCUCGUAGUUGGACC,AAAAAGCUCGUAGUUGGACC,-0.283424,,,AAAAAGCUCGUAGUUGGACC,TraesCS6A02G326200,734,753,+,...,"oxidoreductase activity,oxidoreductase activit...",Catalysis of an oxidation-reduction (redox) re...,"molecular_function,molecular_function,molecula...",Nitrate reductase [Source:UniProtKB/TrEMBL;Acc...,"AT1G37130,AT1G77760,AT1G37130,AT1G77760,AT1G37...","NIA2,NIA1,NIA2,NIA1,NIA2,NIA1,NIA2,NIA1,NIA2,N...",,,,

In [27]:
df_res_3.columns

Index(['Gene', 'MajorRNA', 'log2FoldChange', 'miRBASE', 'MIRNA', 'target_srna',
       'target_gene', 'target_from', 'target_to', 'target_strand',
       'target_mismatches', 'target_srna_seq', 'target_aln', 'target_gene_seq',
       'gene', 'GO', 'GO_description', 'GO_domain', 'gene_description',
       'at_gene', 'at_gene_name', 'at_GO', 'at_GO_definition', 'at_GO_domain',
       'at_gene_description'],
      dtype='object')

In [30]:
rules = {}
rules['MIRNA'] = 'first'
rules['MajorRNA'] = 'first'
rules['log2FoldChange'] = 'first'
rules['miRBASE'] = 'first'
rules['gene'] = ','.join
rules['gene_description'] = ','.join
rules['GO_description'] = ','.join
rules['GO_domain'] = ','.join
rules['at_GO'] = ','.join
rules['at_gene_name'] = ','.join
rules['at_GO_definition'] = ','.join
rules['at_gene_description'] = ','.join
rules['at_GO_domain'] = ','.join
rules['at_gene'] = ','.join

#rules['GO'] = ['Gene','target_gene']
#rules = {'GO':','.join,'GO_description':','.join, 'GO_domain':','.join, 'gene_description':','.join, 'at_gene':','.join, 'at_gene_name':','.join, 'at_GO':','.join,'at_GO_definition':','.join,'at_GO_domain':','.join,'at_gene_description':','.join}
df_res_4 = df_res_3.groupby(['Gene','target_gene'],as_index=False).agg(rules)
print(len(df_res_4.index))
df_res_4.head()

27601

,Gene,target_gene,MIRNA,MajorRNA,log2FoldChange,miRBASE,gene,gene_description,GO_description,GO_domain,at_GO,at_gene_name,at_GO_definition,at_gene_description,at_GO_domain,at_gene
0,AAAAACCUAGUUCACUCGCU,TraesCS1A02G343700,,AAAAACCUAGUUCACUCGCU,-0.563387,,TraesCS1A02G343700,,,,,,,,,
1,AAAAACCUAGUUCACUCGCU,TraesCS3A02G142800,,AAAAACCUAGUUCACUCGCU,-0.563387,,TraesCS3A02G142800,,,,,,,,,
2,AAAAAGACAAACCGGACGGUU,,,AAAAAGACAAACCGGACGGUU,-0.746554,,,,,,,,,,,
3,AAAAAGAUUUACUUAAACGCCU,,,AAAAAGAUUUACUUAAACGCCU,10.318502,,,,,,,,,,,
4,AAAAAGCUCGUAGUUGGACC,TraesCS6A02G326200,,AAAAAGCUCGUAGUUGGACC,-0.283424,,TraesCS6A02G326200,Nitrate reductase [Source:UniProtKB/TrEMBL;Acc...,Catalysis of an oxidation-reduction (redox) re...,"molecular_function,molecular_function,molecula...",,"NIA2,NIA1,NIA2,NIA1,NIA2,NIA1,NIA2,NIA1,NIA2,N...",,,,"AT1G37130,AT1G77760,AT1G37130,AT1G77760,AT1G37..."

In [37]:
df_genes_deg = pd.read_csv('data/res/rna_deg/DEG-normalized.csv', sep=',')
df_genes_deg['gene'] = df_genes_deg['gene'].str.split(':').str[1]
df_genes_deg.rename({'log2FoldChange':'gene_l2fc'}, axis=1, inplace=1)
df_genes_deg.head(2)

,Unnamed: 0,gene,baseMean,gene_l2fc,lfcSE,stat,pvalue,padj,C1.counts.txt,C2.counts.txt,C3.counts.txt,C4.counts.txt,T1.counts.txt,T2.counts.txt,T3.counts.txt,T4.counts.txt
0,1,TraesCS2B02G286300,320.013057,2.445059,0.225052,10.864392,1.703534e-27,5.369907e-23,582.257421,553.695714,476.353565,549.686360,77.245985,81.333777,93.617622,145.914014
1,2,TraesCS2B02G336800,2294.525203,-2.909846,0.268059,-10.855254,1.882824e-27,5.369907e-23,532.840739,512.938938,500.171243,609.940442,4976.988116,5270.112921,2148.061490,3805.147731

In [46]:
df_res_5 = pd.merge(df_res_4, df_genes_deg[['gene','gene_l2fc']], right_on='gene',left_on='target_gene', how='left')
df_res_5.drop('gene_x',axis=1, inplace=True)

df_res_5.head(3)

,Gene,target_gene,MIRNA,MajorRNA,log2FoldChange,miRBASE,gene_description,GO_description,GO_domain,at_GO,at_gene_name,at_GO_definition,at_gene_description,at_GO_domain,at_gene,gene_y,gene_l2fc
0,AAAAACCUAGUUCACUCGCU,TraesCS1A02G343700,,AAAAACCUAGUUCACUCGCU,-0.563387,,,,,,,,,,,TraesCS1A02G343700,1.451898
1,AAAAACCUAGUUCACUCGCU,TraesCS3A02G142800,,AAAAACCUAGUUCACUCGCU,-0.563387,,,,,,,,,,,TraesCS3A02G142800,1.009220
2,AAAAAGACAAACCGGACGGUU,,,AAAAAGACAAACCGGACGGUU,-0.746554,,,,,,,,,,,NaN,NaN

In [43]:
df_res_5.to_csv('data/res/targets_mart.csv', sep='\t', index=None)